<?xml version="1.0" encoding="UTF-8"?>
    <plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
            id="com.aidiapp.loadapp" version="0.0.1">
        <name>LoadApp</name>
        <description>Android Plugin to load an app</description>
        <license>Apache 2.0</license>
        <keywords>cordova,device</keywords>
        <platform name="android">
		<source-file src="src/android/LoadExtApp.java"
                target-dir="src/com/aidiapp/loadapp" />
				
            <config-file target="config.xml" parent="/*">
                <feature name="LoadApp">
                    <param name="android-package" value="com.aidiapp.loadapp.LoadExtApp"/>
                </feature>
            </config-file>
        </platform>
    </plugin>